.education-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: max-content max-content max-content max-content;
  grid-template-areas: "degree degree degree institution" "gpa classof nope nope";
  grid-gap: 3px 0;

  .degree {
    grid-area: degree;
    font-size: 0.95em;
  }

  .institution {
    grid-area: institution;
    font-size: 0.95em;
    padding-left: 5px;
  }

  .gpa {
    grid-area: gpa;
    font-size: 0.9em;
  }

  .class-of {
    margin-left: 5px;
    grid-area: classof;
    font-size: 0.9em;
  }
}